:root{
    --color-1: rgb(25, 205, 140);
    --color-2: #1B2028;
    --color-3: #A4AAAD;
    /* --color-4: #111111; */
    --color-4: rgb(72, 72, 72);
    --color-5: #FFFFFF;
    --color-6: #EDEDED;
    --color-7: #F6F6F6;


    /* --color-8: rgb(25, 205, 140); */

    
    --space-layout-padding-lr: 0px 15px;
    --space-layout-padding-t: 5px;
    --layout-image-width:100%;
    --layout-image-height:350px;

    /* Detail */
    --layout-image-width-detail: 100%;
    --layout-image-height-detail: 385px;

    /* Checkout */
    --layout-imagen-width-checkout:75px;
    --layout-imagen-height-checkout:75px;
}

@font-face{
    font-family: "EncodeSands-Regular";
    src: url("../storage/font/EncodeSansCondensed-Regular.ttf") format(truetype);
}

@font-face{
    font-family: "EncodeSands-Medium";
    src: url("../storage/font/EncodeSansCondensed-Medium.ttf") format(truetype);
}

@font-face{
    font-family: "EncodeSands-SemiBold";
    src: url("../storage/font/EncodeSansCondensed-SemiBold.ttf") format(truetype);
}

@font-face{
    font-family: "EncodeSands-Bold";
    src: url("../storage/font/EncodeSans-Bold.ttf") format(truetype);
}