@import url(variables.css);
* {
    padding: 0;
    margin: 0;
    font-family: "EncodeSands-Regular";
    box-sizing: border-box;
}

.main,
header {
    padding: var(--space-layout-padding-lr);
    margin-top: var(--space-layout-padding-t);
}
/* Header */
.header__top {
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    font-size: 16px;
    font-family: "EncodeSands-SemiBold";
    transition: all 0.3s ease-in-out;
}
.header__top p {
    color: var(--color-1);
    font-weight: 1000;
}

/* Main */
.main__section {
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.article__clothes {
    height: 310px;
    overflow-y: scroll;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.clothes__product {
    margin-bottom: 24px;
    transition: all 0.3s ease-in-out;
}

.product__card {
    display: flex;
    justify-content: space-around;
    transition: all 0.3s ease-in-out;
}

.card__img {
    width: var(--layout-imagen-width-checkout);
    height: var(--layout-imagen-height-checkout);
    display: flex;
    gap: 10px;
}

.card__img img {
    border-radius: 15px;
    width: var(--layout-imagen-width-checkout);
    height: var(--layout-imagen-height-checkout);
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.card__img img:hover {
    transform: scale(1.1);
}

.card__info {
    display: flex;
    width: 185px;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
}

.info__name {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.info__name a {
    color: var(--color-1);
    font-family: 'EncodeSans-SemiBold', sans-serif;
    font-size: 14px;
    text-decoration: none;
    transition: color 0.3s ease-in-out;

}
