<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <link rel="stylesheet" href="../css/checkout.css">
</head>
<body>
    <header class="header">
        <div class="header__top">
            <a href="../views/detail.html">
                <img src="../storage/img/back.svg">
            </a>
            <p>Checkout</p>
            <img src="../storage/img/sidebar.svg">
        </div>
    </header>
    <main class="main">
        <section class="main__section">
            <article id="article__clothes_shop" class="article__clothes">
                <!-- <div class="clothes__product">
                    <div class="product__card">
                        <div class="card__img">
                            <img src="../storage/img/img2.svg">
                        </div>
                        <div class="card__info">
                            <div class="info__name">
                                <p>Modern light clothes</p>
                                    <small>Dress modern</small>
                            </div>
                            <span>$212.99</span>
                        </div>
                        <div class="card__select">
                            <img src="../storage/img/Punticos.svg">
                            <div class="card__quantity">
                                <img src="../storage/img/minuswhite.svg">
                                <span>4</span>
                                <img src="../storage/img/pluswhite.svg">
                            </div>
                        </div>
                    </div>  
                </div> -->
                <hr>
            </article>
            <article class="shipping">
                <h2>Shipping Information</h2>
                <div class="dropdown">
                    <div class="dropdown__button">
                        <div class="shopping__card">
                            <img src="../storage/img/visa.svg">
                            <label>**** **** **** 2143</label>
                        </div>
                        <div class="shopping__option">
                            <img src="../storage/img/arrowdown.svg">
                        </div>
                    </div>
                    <div class="dropdown-content">
                        <div class="shopping__card">
                            <img src="../storage/img/visa.svg">
                            <label>**** **** **** 2143</label>
                        </div>
                        <div class="shopping__card">
                            <img src="../storage/img/visa.svg">
                            <label>**** **** **** 2143</label>
                        </div>
                        <div class="shopping__card">
                            <img src="../storage/img/visa.svg">
                            <label>**** **** **** 2143</label>
                        </div>
                    </div>

                    <!-- <details>
                    <summary class="paymethod__card">
                        <img src="../storage/img/visa.svg">
                        <p>**** **** **** 2143</p>
                    </summary>
                    <div class="paymethod__options">
                        <summary class="paymethod__card">
                            <img src="../storage/img/visa.svg">
                            <p>**** **** **** 2143</p>
                        </summary>
                        <summary class="paymethod__card">
                            <img src="../storage/img/visa.svg">
                            <p>**** **** **** 2143</p>
                        </summary>
                    </div>
                    </details> -->
                </div>
            </article>
            <article class="built">
                <div class="built__total">
                    <p>Total (9 items)</p>
                    <span>$131.97</span>
                </div>
                <div class="built__fee">
                    <p>Shipping Fee</p>
                    <span>$0.00</span>
                </div>
                <hr>
                <div class="built__subtotal">
                    <p>Sub Total</p>
                    <span>$131.97</span>
                </div>
            </article>
        </section>
    </main>
    <footer class="footer">
        <a href="">Pay</a>
    </footer>
</body>
</html>