<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <link rel="stylesheet" href="../css/checkout.css">
</head>
<body>
    <header class="header">
        <div class="header__top">
            <a href="/views/detail.html">
                <img src="/storage/img/back.svg">
            </a>
            <p>Checkout</p>
            <img src="/storage/img/sidebar.svg">
        </div>
    </header>
    <main class="main">
        <section class="main__section">
            <article class="article__clothes">
                <div class="clothes__product">
                    <div class="product__card">
                        <div class="card__img">
                            <img src="/storage/img/img2.svg">
                        </div>
                        <div class="card__info">
                            <div class="info__name">
                                <p>Modern light clothes</p>
                                    <small>Dress modern</small>
                            </div>
                            <span>$212.99</span>
                        </div>
                        <div class="card__select">
                            <img src="/storage/img/Punticos.svg">
                            <div>
                                <img src="/storage/img/Quantity.svg">
                            </div>
                        </div>
                    </div>  
                </div>
                <hr>
                <div class="clothes__product">
                    <div class="product__card">
                        <div class="card__img">
                            <img src="/storage/img/img1.svg">
                        </div>
                        <div class="card__info">
                            <div class="info__name">
                                <p>Modern light clothes</p>
                                    <small>Dress modern</small>
                            </div>
                            <span>$212.99</span>
                        </div>
                        <div class="card__select">
                            <img src="/storage/img/Punticos.svg">
                            <img src="/storage/img/Quantity (1).svg">
                        </div>
                    </div>  
                </div>
                <hr>
                <div class="clothes__product">
                    <div class="product__card">
                        <div class="card__img">
                            <img src="/storage/img/img3.svg">
                        </div>
                        <div class="card__info">
                            <div class="info__name">
                                <p>Modern light clothes</p>
                                    <small>Dress modern</small>
                            </div>
                            <span>$212.99</span>
                        </div>
                        <div class="card__select">
                            <img src="/storage/img/Punticos.svg">
                            <img src="/storage/img/Quantity.svg">
                        </div>
                    </div>  
                </div>
                <hr>
                <div class="clothes__product">
                    <div class="product__card">
                        <div class="card__img">
                            <img src="/storage/img/img4.svg">
                        </div>
                        <div class="card__info">
                            <div class="info__name">
                                <p>Modern light clothes</p>
                                    <small>Dress modern</small>
                            </div>
                            <span>$212.99</span>
                        </div>
                        <div class="card__select">
                            <img src="/storage/img/Punticos.svg">
                            <img src="/storage/img/Quantity.svg">
                        </div>
                    </div>  
                </div>
            </article>
            <article class="shipping">
                <h2>Shipping Information</h2>
                <div class="paymethod">
                    <div class="paymethod__card">
                        <img src="/storage/img/visa.svg">
                        <p>**** **** **** 2143</p>
                    </div>
                    <img src="/storage/img/arrowdown.svg">
                </div>
                <div class="total">
                    <p>Total (9 items)</p>
                    <p>$131.97</p>
                </div>
                <div class="fee">
                    <p>Shipping Fee</p>
                    <p>$0.00</p>
                </div>
                <div class="subtotal">
                    <p>Sub Total</p>
                    <p>$131.97</p>
                </div>
            </article>
        </section>
    </main>
    <footer class="footer">
        <p>Pay</p>
    </footer>
</body>
</html>