<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wishlist</title>
    <link rel="stylesheet" href="../css/wishlist.css">
    <script type="module" src="../js/components/wishlist.js" defer></script>
</head>
<body>
    <header class="header">
        <div class="header__top">
            <!-- <a id="back" href="../views/detail.html"></a> -->
            <a id="back" href="../index.html?=aps">
                <img src="../storage/img/back.svg">
            </a>
            <p>Wishlist</p>
            <img src="../storage/img/sidebar.svg">
        </div>
    </header>
    <main class="main">
        <section class="main__section">
            <article id="article__clothes_shop" class="article__clothes">
                <!-- <div class="clothes__product">
                    <div class="product__card">
                        <div class="card__img">
                            <img src="../storage/img/img2.svg">
                        </div>
                        <div class="card__info">
                            <div class="info__name">
                                <p>Modern light clothes</p>
                                    <small>Dress modern</small>
                            </div>
                            <span>$212.99</span>
                        </div>
                        <div class="card__select">
                            <img src="../storage/img/Punticos.svg">
                            <div class="card__quantity">
                                <img src="../storage/img/minuswhite.svg">
                                <span>4</span>
                                <img src="../storage/img/pluswhite.svg">
                            </div>
                        </div>
                    </div>  
                </div> -->
                <hr>
            </article>
        </section>
</body>
</html>